# Sudokoo SK700V cooler LCD - allow non-root access to the HID device
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="381c", ATTRS{idProduct}=="0003", MODE="0666"
